{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'localities'|trans }}{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('css/locality') }}

{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-map-marker-alt text-danger"></i> {{ 'localities'|trans }}
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_locality_new') }}">
                <i class="fas fa-plus-square text-danger"></i> {{ 'menu.add_new'|trans }} {{ 'city' | trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_area_new') }}">
                <i class="fas fa-plus-square text-danger"></i> {{ 'menu.add_new'|trans }} {{ 'area' | trans }}
            </a>
        </li>
    </ul>

    <div class="card mb-3">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="background-color: #FFFFFF">
                    <thead class="thead">
                    <tr>
                        <th>{{ 'table.locality_name' | trans }}</th>
                        <th class="hidden-sm">{{ 'table.slug' | trans }}</th>
                        <th>{{ 'table.action' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for locality in localities %}
                        <tr>
                            <td class="locality">{{ locality.name }}</td>
                            <td class="hidden-sm">{{ locality.slug }}</td>
                            <td>
                                {{ include('admin/locality/_action_form.html.twig', {locality: locality}, with_context = false) }}
                            </td>
                        </tr>

                        {% for area in locality.areas %}

                            <tr>
                                <td class="sub-locality text-secondary">{{ area.name }}</td>
                                <td class="hidden-sm">{{ area.slug }}</td>
                                <td>
                                    {{ include('admin/area/_action_form.html.twig', {area: area}, with_context = false) }}
                                </td>
                            </tr>

                        {% endfor %}

                    {% else %}
                        <tr>
                            <td>{{ 'no_items_found' | trans }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
