{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.add_locality' | trans }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header"><i class="fas fa-plus"></i> {{ 'title.add_locality' | trans }}</div>
        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group" id="name">
                {{ form_row(form.name) }}
            </div>

            <div class="form-group" id="slug">
                {{ form_row(form.slug) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'label.create_locality'|trans }}
                </button>

                {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/slugger.js') }}"></script>

{% endblock %}
