<form action="{{ url('admin_user_delete', {id: user.id}) }}" method="post" data-confirmation="true">

    <a href="{{ url('admin_user_edit', {id: user.id}) }}"
       class="btn btn-outline-primary">{{ 'action.edit' | trans }}</a> &nbsp;&nbsp;&nbsp;

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
    <button type="submit" class="btn btn-danger"
            onclick="if(confirm('{{ 'confirmation.delete_user' | trans }}')){ return true }else{ return false }">
        {{ 'action.delete' | trans }}
    </button>
</form>