{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'users'|trans }}{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-users-cog text-danger"></i> {{ 'users'|trans }}
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_user_new') }}">
                <i class="fas fa-plus-square text-danger"></i> {{ 'label.create_user' | trans }}
            </a>
        </li>
    </ul>

    <div class="card mb-3">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table" style="background-color: #FFFFFF">
                    <thead class="thead">
                    <tr>
                        <th class="hidden-sm">{{ 'table.username' | trans }}</th>
                        <th>{{ 'table.email' | trans }}</th>
                        <th>{{ 'table.action' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr>
                            <td class="hidden-sm">{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {{ include('admin/user/_action_form.html.twig', {user: user}, with_context = false) }}
                            </td>
                        </tr>

                    {% else %}
                        <div class="well">Nothing</div>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
