{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.add_user' | trans }}{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_user') }}">
                <i class="fas fa-users-cog text-danger"></i> {{ 'users'|trans }}
            </a>
        </li>
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-plus-square text-danger"></i> {{ 'label.create_user' | trans }}
            </span>
        </li>
    </ul>

    <div class="card mb-3">

        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.full_name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.username) }}
            </div>

            <div class="form-group">
                {{ form_row(form.phone) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email) }}
            </div>

            <div class="form-group">
                {{ form_row(form.password) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'label.create_user' | trans }}
                </button>

                {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
