{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.settings.header_image' | trans }}{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('css/photo') }}

{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_setting') }}">
                <i class="fas fa-edit text-danger"></i> {{ 'title.settings' | trans }}
            </a>
        </li>
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-image text-danger"></i> {{ 'title.settings.header_image' | trans }}
            </span>
        </li>
    </ul>

    <div class="card mb-3">
        <div class="card-body">

            {% if header_image == '' %}

            <form action="{{ path('admin_setting_upload_header_image') }}" method="POST"
                  enctype="multipart/form-data"
                  class="dropzone js-photo-dropzone">
                <div class="fallback">
                    <input name="file" type="file" accept="image/*" />
                </div>
            </form>

            {% else %}

            <div class="photos-list">
                <div class="gallery">
                    <ul>
                        <li>
                        <img src="/uploads/images/small/{{ header_image }}"
                                 alt="{{ 'title.settings.header_image' | trans }}"/>

                        <form action="{{ path('admin_setting_delete_header_image') }}"
                              id="delete-form"
                              method="post" data-confirmation="true">

                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

                            <button class="btn btn-danger btn-sm remove"
                                    onclick="if(confirm('{{ 'confirmation.delete_photo' | trans }}')){ return true }else{ return false }">
                                 {{ 'action.delete' | trans }}
                            </button>

                        </form>

                        </li>
                    </ul>
                </div>
            </div>

            {% endif %}

            <br>

        </div>
    </div><br>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/photo') }}

{% endblock %}
