{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.settings' | trans }}{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-edit text-danger"></i> {{ 'title.settings' | trans }}
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_setting_header_image') }}">
                <i class="fas fa-image text-danger"></i> {{ 'title.settings.header_image' | trans }}
            </a>
        </li>
    </ul>

    <div class="card mb-3">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.description) }}
            </div>

            <div class="form-group">
                {{ form_row(form.custom_code) }}
            </div>

            <div class="form-group">
                {{ form_row(form.items_per_page) }}
            </div>

            <div class="form-group">
                {{ form_row(form.currency) }}

                <p><small><a class="ml-2" href="{{ path('admin_currency') }}">
                            {{ 'action.edit'|trans }} {{ 'currencies'|trans }}
                        </a></small></p>
            </div>

            <div class="form-group">
                {{ form_row(form.fixed_top_navbar) }}
            </div>

            <div class="form-group">
                {{ form_row(form.ymaps_key) }}
            </div>

            <div class="form-group">
                {{ form_row(form.map_center) }}
            </div>

            <div class="form-group">
                {{ form_row(form.map_zoom) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save'|trans }}
                </button>

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
