{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title.my_profile'|trans }}{% endblock %}

{% block body %}

    <div class="row mt-4 mb-4">

        <div class="col-md-8">

            <div class="row">
                <div class="col-sm-12 mb-3">
                    <h3>{{ 'title.my_profile'|trans }}</h3>
                </div>
            </div>

            <div class="card full-xs">

                <div class="card-body">

                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_row(form.full_name) }}
                    {{ form_row(form.phone) }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            {{ 'action.save' | trans }}
                        </button>
                    </div>
                    {{ form_end(form) }}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        {{ include('user/common/_sidebar.html.twig') }}

    </div>

    {{ include('user/common/_floating_action_button.html.twig') }}

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/user') }}

{% endblock %}
