<div class="header" style="background-image: url('/images/bg.jpg');">
    <div class="header-overlay"></div>
    <div class="container">
        <div class="search_form">
            <form action="{{ path('property_search') }}" method="get">
                <div class="form-row">
                    <div class="col-lg-3 mb-2">
                        <select name="locality" class="form-control form-control-lg">
                            <option value="0">{{ 'locality'|trans }}</option>

                            {% for locality in localities %}

                                <option value="{{ locality.id }}">{{ locality.name }}</option>

                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <select name="operation" class="form-control form-control-lg">
                            <option value="0">{{ 'operation'|trans }}</option>

                            {% for operation in operations %}

                                <option value="{{ operation.id }}">{{ operation.name }}</option>

                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <select name="category" class="form-control form-control-lg">
                            <option value="0">{{ 'category'|trans }}</option>

                            {% for category in categories %}

                                <option value="{{ category.id }}">{{ category.name }}</option>

                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <button class="btn btn-block btn-lg btn-primary">
                            <i class="fas fa-search"></i> {{ 'action.search'|trans }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>