<div class="card full-xs mb-3">
    <h5 class="card-header">{{ 'widget.search' | trans }}</h5>
    <div class="card-body">
        <form action="{{ path('property') }}" method="get">

            {% if site.show_filter_by_city == '1' %}
                <div class="form-group">
                    <label for="city">{{ 'city'|trans }}</label>
                    <select name="city" id="city" class="form-control form-control-lg">

                        <option value="0">{{ 'widget.all_cities'|trans }}</option>

                        {% for city in site.cities %}

                            <option value="{{ city.id }}">{{ city.name }}</option>

                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if site.show_filter_by_deal_type == '1' %}
                <div class="form-group">
                    <label for="dealType">{{ 'deal_type'|trans }}</label>
                    <select name="deal_type" id="dealType" class="form-control form-control-lg">
                        <option value="0">{{ 'widget.all_deal_types'|trans }}</option>

                        {% for deal_type in site.deal_types %}

                            <option value="{{ deal_type.id }}">{{ deal_type.name }}</option>

                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if site.show_filter_by_category == '1' %}
                <div class="form-group">
                    <label for="category">{{ 'category'|trans }}</label>
                    <select name="category" id="category" class="form-control form-control-lg">
                        <option value="0">{{ 'widget.all_categories'|trans }}</option>

                        {% for category in site.categories %}

                            <option value="{{ category.id }}">{{ category.name }}</option>

                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if site.show_filter_by_bedrooms == '1' %}
                <div class="form-group">
                    <label for="bedrooms">{{ 'label.bedrooms_number'|trans }}</label>
                    <select name="bedrooms" id="bedrooms" class="form-control form-control-lg">
                        <option value="0">{{ 'property.bedrooms'|trans }}</option>
                        <option value="0">{{ 'option.any'|trans }}</option>
                        <option value="1">1 {{ 'option.bedroom'|trans }}</option>
                        <option value="2">2 {{ 'option.bedrooms'|trans }}</option>
                        <option value="3">3 {{ 'option.bedrooms'|trans }}</option>
                        <option value="4">4+ {{ 'option.bedrooms'|trans }}</option>
                    </select>
                </div>
            {% endif %}

            {% if site.show_filter_by_bedrooms == '1' %}
                <div class="form-group">
                    <label for="guests">{{ 'label.guests'|trans }}</label>
                    <select name="guests" id="guests" class="form-control form-control-lg">
                        <option value="0">{{ 'label.guests'|trans }}</option>
                        <option value="0">{{ 'option.any'|trans }}</option>
                        {% for i in range(1,8) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                        <option value="9">9+</option>
                    </select>
                </div>
            {% endif %}

            {% if site.show_filter_by_features == '1' %}
                <div class="form-group">
                    <label for="feature">{{ 'feature'|trans }}</label>
                    <select name="feature" id="feature" class="form-control form-control-lg">

                        <option value="0">{{ 'widget.all_features'|trans }}</option>

                        {% for feature in site.features %}
                            <option value="{{ feature.id }}">{{ feature.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <div class="form-group">
                <button class="btn btn-block btn-lg btn-primary">
                    <i class="fas fa-search"></i> {{ 'action.search'|trans }}
                </button>
            </div>
        </form>
    </div>
</div>
