<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePassword">{{ 'password.change' | trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" id="passwordForm" action="{{ path('user_password') }}">
                    <div class="row mb-3">
                        <div class="col-sm-12 mb-2">
                            <input type="password" class="input-lg form-control"
                                   name="password1" id="password1"
                                   placeholder="{{ 'label.new_password' | trans }}"
                                   aria-label="{{ 'label.new_password' | trans }}"
                                   autocomplete="off">
                        </div>
                        <div class="col-sm-6">
                            <span id="10char" class="fas fa-times text-danger"></span> {{ 'password.length' | trans }}
                            <br>
                            <span id="uppercase" class="fas fa-times text-danger"></span>
                            {{ 'password.uppercase' | trans }}
                        </div>
                        <div class="col-sm-6">
                            <span id="lowercase" class="fas fa-times text-danger"></span>
                            {{ 'password.lowercase' | trans }}
                            <br>
                            <span id="numbers" class="fas fa-times text-danger"></span> {{ 'password.numbers' | trans }}
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-12 mb-2">
                            <input type="password" class="input-lg form-control"
                                   name="password2" id="password2"
                                   placeholder="{{ 'label.confirm_password' | trans }}"
                                   aria-label="{{ 'label.confirm_password' | trans }}"
                                   disabled
                                   autocomplete="off">
                        </div>
                        <div class="col-sm-12">
                            <span id="match" class="fas fa-times text-danger"></span> {{ 'password.match' | trans }}
                        </div>
                    </div>
                    <input type="hidden" name="password_token" value="{{ csrf_token('csrf_token') }}"/>
                </form>

                <div class="alert alert-danger" style="display: none"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        id="savePassword"
                        data-default-text="{{ 'password.change' | trans }}"
                        data-progress-text="{{ 'password.progress' | trans }}"
                        disabled style="width: 100%">
                    {{ 'password.change' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
