<form action="{{ url('admin_deal_type_delete', {id: deal_type.id}) }}" method="post"
      id="delete-form-{{ deal_type.id }}">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <a href="{{ url('admin_deal_type_edit', {id: deal_type.id}) }}"
       class="btn btn-sm btn-outline-primary">{{ 'action.edit' | trans }}</a> &nbsp;&nbsp;&nbsp;

    {{ include('common/_delete_button.html.twig') }}

</form>
