{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title.reset_password' | trans }}{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-4 mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{ 'title.reset_password' | trans }}</div>
                <div class="card-body">

                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-primary">
                            {{ 'action.send_reset_link'|trans }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
