<form action="{{ url('admin_property_delete', {id: property.id}) }}" method="post"
      id="delete-form-{{ property.id }}">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
    <div class="btn-group btn-group-sm" role="group">

        <a href="{{ url('admin_property_edit', {id: property.id}) }}"
           class="btn btn-light">{{ 'action.edit' | trans }}</a>

        <a href="{{ url('admin_photo_edit', {id: property.id}) }}"
           class="btn btn-light">{{ 'action.edit_photos' | trans }}</a>

        {{ include('common/_delete_button.html.twig') }}

    </div>
</form>
