{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.edit_property' | trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/select2') }}
{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header"><i class="fas fa-edit text-danger"></i> {{ 'title.edit_property' | trans }}</div>
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row">

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.city) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.area) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.metro_station) }}
                </div>

            </div><hr>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.dealType) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.category) }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.bathrooms_number) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.bedrooms_number) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.max_occupancy) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.description) }}
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-8 mb-3">
                    {{ form_row(form.address) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.latitude) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.longitude) }}
                </div>
            </div>

            <div class="form-group mb-3 custom-control custom-switch">
                {{ form_widget(form.show_map) }}
                {{ form_label(form.show_map) }}
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.price) }}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {{ form_row(form.price_type) }}
                </div>
            </div>

            <div class="form-group mb-3 custom-control custom-switch">
                {{ form_widget(form.available_now) }}
                {{ form_label(form.available_now) }}
            </div>

            <div class="form-group">
                {{ form_row(form.features) }}

                <p><small><a class="ml-2" href="{{ path('admin_feature') }}">
                            {{ 'action.edit'|trans }} {{ 'features'|trans }}
                        </a></small></p>
            </div>

            <div class="form-group">
                {{ form_row(form.priority_number) }}

                <p><small class="ml-2">{{ 'label.priority_number.help'|trans }}</small></p>
            </div>

            <div class="form-group">
                {{ form_row(form.content) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save' | trans }}
                </button>

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/city') }}
    {{ encore_entry_script_tags('js/select2') }}

{% endblock %}
