{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.latest_properties' | trans }}{% endblock %}

{% block body %}

    <h3>{{ 'title.latest_properties' | trans }}
        <a href="{{ path('admin_property_new') }}" class="btn btn-light" title="{{ 'menu.add_new'|trans }}">
            <i class="fas fa-plus-square text-danger"></i>
        </a>
    </h3>

    <br>
    <div class="row">

        {% for property in properties %}

            <!-- Item -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <a href="{{ path('property_show', {
                        'id':  property.id,
                        'citySlug': property.city.slug,
                        'slug': property.slug }) }}">

                        {% for photo in property.photos | slice(0, 1) %}

                            <img class="card-img-top" src="/uploads/images/small/{{ photo.photo }}"
                                 alt="{{ property.address }}"
                                 title="{{ property.address }}"/>

                        {% else %}

                            <img class="card-img-top border-bottom" src="/images/no-photo.png"
                                 alt="{{ property.address }}"
                                 title="{{ property.address }}"/>

                        {% endfor %}

                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a
                                href="{{ path('property_show', {
                                    'id':  property.id,
                                    'citySlug': property.city.slug,
                                    'slug': property.slug }) }}">
                                {{ property.title }}
                            </a>
                        </h4>
                        <p class="small">{{ property.address }}</p>
                        <p class="card-text">{{ property.description }}</p>

                        {{ include('admin/property/_action_form.html.twig', {property: property}, with_context = false) }}

                    </div>
                </div>
                <br>
            </div>
            <!-- / Item -->

        {% else %}
            <div class="col-sm-12">
                {{ 'no_items_found' | trans }}
            </div>
        {% endfor %}

    </div>

    {% if properties.haveToPaginate %}

        <div class="navigation text-center">
            {{ pagerfanta(properties, 'twitter_bootstrap4_translated', {routeName: 'admin_property_paginated', routeParams: app.request.query.all}) }}
        </div>

    {% endif %}

{% endblock %}
