{% extends 'layout/base.html.twig' %}

{% block title %}{{ site.meta_title }}{{ searchParams.page|page }}{% endblock %}

{% block description %}{{ site.meta_description }}{{ searchParams.page|page }}{% endblock %}

{% block header %}
    {{ include('property/partials/_search_form.html.twig') }}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ url('admin_property_new') }}" class="btn btn-primary float">
            <i class="fas fa-plus float-icon"></i>
        </a>

    {% elseif is_granted('ROLE_USER') %}

        <a href="{{ url('user_property_new') }}" class="btn btn-primary float">
            <i class="fas fa-plus float-icon"></i>
        </a>

    {% endif %}

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h1 class="h3">{{ site.title }}</h1>
        </div>
        <div class="col-lg-6 col-sm-12 text-right">
            <a href="{{ path('map_view') }}" class="btn btn-sm btn-light icon-green">
                <i class="fas fa-map-marker-alt"></i> {{ 'show_on_map'|trans }}
            </a>
        </div>
    </div>

    <br>
    <div class="row">

        {% for property in properties %}

            <!-- Item -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card full-xs">

                    <div class="property-box-img">

                        <a href="{{ path('property_show', {
                            'id':  property.id,
                            'citySlug': property.city.slug,
                            'slug': property.slug}) }}">

                            {% for photo in property.photos | slice(0, 1) %}

                                <img class="card-img-top lazyload" src="{{ asset('/images/transparent.png') }}"
                                     data-src="/uploads/images/small/{{ photo.photo }}"
                                     alt="{{ property.address }}"
                                     title="{{ property.address }}"/>

                            {% else %}

                                <img class="card-img-top border-bottom" src="{{ asset('/images/no-photo.png') }}"
                                     alt="{{ property.address }}"
                                     title="{{ property.address }}"/>

                            {% endfor %}

                            {% if property.price != '' %}
                                <span class="price">
                                    {{ site.currency.symbolLeft }}{{ property.price }}
                                    {{ site.currency.symbolRight }}

                                    {% if property.priceType != '' %}
                                        / {{ property.priceType }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property_show', {
                                'id':  property.id,
                                'citySlug': property.city.slug,
                                'slug': property.slug}) }}">
                                {{ property.propertyDescription.title }}
                            </a>
                        </h5>
                        <p class="small icon-green">
                            <i class="fas fa-map-marker-alt"></i> {{ property.address }}
                        </p>

                        {% if property.metroStation %}
                            <p class="small icon-green">
                                <i class="fas fa-subway"></i> {{ property.metroStation.name }}
                            </p>
                        {% endif %}

                        <span class="attribute">{{ property.dealType.name }}</span>
                        <span class="attribute">{{ property.category.name }}</span>

                        {% if property.bedroomsNumber %}
                            <span
                                class="attribute">{{ 'property.bedrooms'|trans }}: {{ property.bedroomsNumber }}</span>
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>
            <!-- / Item -->

        {% else %}
            <div class="col-sm-12">
                {{ 'no_items_found' | trans }}
            </div>
        {% endfor %}

    </div>

    {{ knp_pagination_render(properties) }}

{% endblock %}
