{{ form_start(form) }}

    <div class="form-group">
        {{ form_row(form.name) }}
    </div>

    <div class="form-group">
        {{ form_row(form.email) }}
    </div>

    <div class="form-group">
        {{ form_row(form.message) }}
    </div>

    <button type="submit" class="btn btn-lg btn-primary">
        {{ 'action.submit'|trans }}
    </button>

{{ form_end(form) }}

<div class="clearfix"></div>
