{% if site.show_language_selector == '1' %}

    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set params = route_params|merge(app.request.query.all) %}
    {% set current_language = app.request.locale|locale_name(app.request.locale)|u.title %}

    <li class="nav-item dropdown{% if no_arrow is defined and no_arrow %} no-arrow{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ asset('images/languages/' ~ app.request.locale ~ '.png') }}"
                 alt="{{ current_language }}"/> {{ current_language }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
            {% for locale in locales|split('|') %}
                {% if locale is not same as(app.request.locale) %}
                    {% set language = locale|locale_name(locale)|u.title %}
                    <a class="dropdown-item"
                       href="{% if route == 'default_route' %}/{{ locale }}{% else %}{{ path(route, params|merge({ _locale: locale })) }}{% endif %}">
                        <img src="{{ asset('images/languages/' ~ locale ~ '.png') }}"
                             alt="{{ language }}"/> {{ language }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>

{% endif %}
