<div class="row">
    {% for property in properties %}

        {# Item #}
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card full-xs">

                <div class="property-box-img">

                    <a href="{{ path('property_show', {
                        'id':  property.id,
                        'citySlug': property.city.slug,
                        'slug': property.slug}) }}">

                        {% for photo in property.photos | slice(0, 1) %}

                            <img class="card-img-top lazyload" src="{{ asset('/images/transparent.png') }}"
                                 data-src="/uploads/images/small/{{ photo.photo }}"
                                 alt="{{ property.address }}"
                                 title="{{ property.address }}"/>

                        {% else %}

                            <img class="card-img-top border-bottom"
                                 src="{{ asset('/images/no-photo.png') }}"
                                 alt="{{ property.address }}"
                                 title="{{ property.address }}"/>

                        {% endfor %}

                        {% if property.price != '' %}
                            <span class="price">
                                    {{ site.currency.symbolLeft }}{{ property.price }}
                                {{ site.currency.symbolRight }}

                                {% if property.priceType != '' %}
                                    / {{ property.priceType }}
                                {% endif %}
                                </span>
                        {% endif %}
                    </a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property_show', {
                            'id':  property.id,
                            'citySlug': property.city.slug,
                            'slug': property.slug}) }}">
                            {{ property.propertyDescription.title }}
                        </a>
                    </h5>
                    <p class="small icon-green">
                        <i class="fas fa-map-marker-alt"></i> {{ property.address }}
                    </p>

                    {% if property.metroStation %}
                        <p class="small icon-green">
                            <i class="fas fa-subway"></i> {{ property.metroStation.name }}
                        </p>
                    {% endif %}

                    <span class="attribute">{{ property.dealType.name }}</span>
                    <span class="attribute">{{ property.category.name }}</span>

                    {% if property.bedroomsNumber %}
                        <span class="attribute">
                            {{ 'property.bedrooms'|trans }}: {{ property.bedroomsNumber }}
                        </span>
                    {% endif %}

                    <br>
                    {% if property.state == 'published' %}

                        <a href="{{ path('user_property_update',
                            {id: property.id, state: 'private', csrf_token: csrf_token('csrf_token')}) }}"
                           class="btn btn-outline-secondary mt-3">
                            <i class="fas fa-eye-slash"></i> {{ 'action.unpublish'|trans }}
                        </a>

                    {% elseif property.state == 'private' %}

                        <a href="{{ path('user_property_update',
                            {id: property.id, state: 'published', csrf_token: csrf_token('csrf_token')}) }}"
                           class="btn btn-outline-secondary mt-3">
                            <i class="far fa-share-square"></i> {{ 'action.publish'|trans }}
                        </a>

                    {% endif %}

                    <a href="{{ url('user_property_edit', {id: property.id}) }}"
                       class="btn btn-light mt-3">{{ 'action.edit' | trans }}</a>

                </div>
            </div>
            <br>
        </div>

        {# / Item #}

    {% else %}
        <div class="col-sm-12">
            {{ 'no_items_found' | trans }}
        </div>
    {% endfor %}
</div>
