<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="description" content=""/>
    <meta name="csrf-token" content="{{ csrf_token('csrf_token') }}">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="{{ asset('/manifest.json') }}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Real Estate">
    <link rel="icon" sizes="192x192" href="{{ asset('/images/icons/chrome-touch-icon-192x192.png') }}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Real Estate">
    <link rel="apple-touch-icon" href="{{ asset('/images/icons/apple-touch-icon.png') }}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ asset('/images/icons/icon-144x144.png') }}">
    <meta name="msapplication-TileColor" content="#0069d9">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    {{ encore_entry_link_tags('css/app') }}
    {{ encore_entry_link_tags('css/admin') }}

    {% block stylesheets %}{% endblock %}
</head>

<body{% if app.request.cookies.get('sidebar-toggled') == 'true' %} class="sidebar-toggled"{% endif %}>

<!-- Navbar -->
{{ include('admin/layout/partials/_navbar.html.twig') }}

<!-- end #menu -->

<div id="wrapper">

    <!-- Sidebar -->
    {{ include('admin/layout/partials/_sidebar.html.twig') }}

    <div id="content-wrapper">

        <div class="container-fluid">

            {{ include('common/_flash_messages.html.twig') }}

            {% block body %}{% endblock %}

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <a href="https://github.com/Coderberg/ResidenceCMS">
                        ResidenceCMS
                    </a> © {{ "now" | date("Y") }}.
                    {{ 'all_rights_reserved' | trans }}. <br><br>
                    Version {{ app_version }}
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scripts -->
{{ encore_entry_script_tags('js/app') }}
{{ encore_entry_script_tags('js/admin') }}

{% block javascripts %}{% endblock %}

</body>
</html>
