<form action="{{ url('admin_photo_delete', {id: photo.id, property_id: property_id }) }}" method="post"
      data-confirmation="true">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <button class="btn btn-danger btn-sm remove"
            data-type="delete"
            data-message="{{ 'confirmation.delete_photo' | trans }}"
            data-confirmation-text="{{ 'action.delete' | trans }}"
            data-cancellation-text="{{ 'action.cancel' | trans }}">
        {{ 'action.delete' | trans }}
    </button>

</form>
