{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.upload_photos' | trans }}{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('css/photo') }}

{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header"><i class="fas fa-cloud-upload-alt"></i> {{ 'title.upload_photos' | trans }}</div>
        <div class="card-body">

            <form action="{{ path('admin_photo_upload', {id: property_id}) }}" method="POST"
                  enctype="multipart/form-data"
                  class="dropzone js-photo-dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>

            <br>

            {% for photo in photos %}

                <div class="single-img">

                    <img class="card-img-top"
                         src="/uploads/images/small/{{ photo.photo }}"
                         alt="{{ 'photo' | trans }} #{{ photo.id }}"/>

                    {{ include('admin/photo/_delete_form.html.twig', {photo: photo, property_id: property_id}, with_context = false) }}

                </div>

            {% endfor %}

        </div>
    </div><br>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/photo') }}

{% endblock %}
