<form action="{{ url('admin_category_delete', {id: category.id}) }}" method="post" data-confirmation="true"
      id="delete-form-{{ category.id }}">

    <a href="{{ url('admin_category_edit', {id: category.id}) }}"
       class="btn btn-outline-primary">{{ 'action.edit' | trans }}</a> &nbsp;&nbsp;&nbsp;

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
    <button type="submit" class="btn btn-danger"
            onclick="if(confirm('{{ 'confirmation.delete_item' | trans }}')){ return true }else{ return false }">
        {{ 'action.delete' | trans }}
    </button>
</form>