{% for type, messages in app.flashes %}
    {% for message in messages %}
        {# Bootstrap alert, see https://getbootstrap.com/docs/4.4/components/alerts/ #}
        <div class="alert alert-dismissible alert-{{ type }} mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}

{% if app.user %}
    {% if not app.user.isVerified %}
        <div class="alert alert-dismissible alert-warning mt-2" role="alert">
            {{ 'message.confirm_email'|trans }}
            <a href="#" id="resend"
               data-path="{{ path('resend_confirmation') }}"
               style="display: none">
                {{ 'confirmation.email.resend'|trans }}
            </a>
        </div>
    {% endif %}
{% endif %}
