<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="description" content="{% block description %}Welcome!{% endblock %}"/>

    {{ site.custom_code | raw }}

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.name }}">
    <link rel="icon" sizes="192x192" href="/images/icons/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#0069d9">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    {{ encore_entry_link_tags('css/app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body{% if site.fixed_top_navbar == '1' %} class="body"{% endif %}>

<nav class="navbar {% if site.fixed_top_navbar == '1' %}fixed-top{% endif %} navbar-expand-lg navbar-light bg-white">

    {% if show_back_button|default(false) %}
        <a class="navbar-brand" href="javascript: history.back()">
            <i class="fas fa-arrow-left"></i> {{ 'menu.back'|trans }}
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ path('property') }}">{{ site.name }}</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% for item in site.menu %}

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ item.url }}"
                        {% if item.nofollow == true %} rel="nofollow" {% endif %}
                        {% if item.newTab == true %} target="_blank" {% endif %}
                    >
                        {{ item.title }}
                    </a>
                </li>

            {% endfor %}
        </ul>

        <ul class="navbar-nav ml-auto">

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_dashboard') }}">{{ 'menu.admin'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">{{ 'menu.login'|trans }}</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
<!-- end #menu -->

{% block header %}{% endblock %}

<div class="container">

    {{ include('default/_flash_messages.html.twig') }}

    {% block body %}{% endblock %}

</div>

<div class="container text-muted">
    <p>© {{ "now" | date("Y") }} {{ site.name }}. {{ site.custom_footer_text | raw }}</p>
</div>

<!-- Scripts -->
{{ encore_entry_script_tags('js/app') }}

{% block javascripts %}{% endblock %}

</body>
</html>
