{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'dashboard'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-home"></i>
                    </div>
                    <div class="mr-5">{{ 'properties'|trans }} <span class="badge">{{ number_of_properties }}</span>
                    </div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_property') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-map-marker-alt"></i>
                    </div>
                    <div class="mr-5">{{ 'cities'|trans }} <span class="badge">{{ number_of_cities }}</span>
                    </div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_city') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-gavel"></i>
                    </div>
                    <div class="mr-5">{{ 'deal_types'|trans }} <span class="badge">{{ number_of_deal_types }}</span>
                    </div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_deal_type') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="far fa-fw fa-building"></i>
                    </div>
                    <div class="mr-5">{{ 'categories'|trans }} <span class="badge">{{ number_of_categories }}</span>
                    </div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_category') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="far fa-fw fa-file-alt"></i>
                    </div>
                    <div class="mr-5">{{ 'pages'|trans }} <span class="badge">{{ number_of_pages }}</span></div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_page') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-dark bg-white o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-users-cog"></i>
                    </div>
                    <div class="mr-5">{{ 'users'|trans }} <span class="badge">{{ number_of_users }}</span></div>
                </div>
                <a class="card-footer text-dark clearfix small z-1" href="{{ path('admin_user') }}">
                    <span class="float-left">{{ 'view_details'|trans }}</span>
                    <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
