<form action="{{ url('admin_metro_delete', {id: station.id}) }}" method="post"
      id="delete-metro-{{ station.id }}">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <a href="{{ url('admin_metro_edit', {id: station.id}) }}"
       class="btn btn-sm btn-outline-primary">{{ 'action.edit' | trans }}</a> &nbsp;&nbsp;&nbsp;

    {{ include('common/_delete_button.html.twig') }}

</form>
