{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.edit_feature' | trans }}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header"><i class="fas fa-edit text-danger"></i> {{ 'title.edit_feature' | trans }}</div>
        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.icon) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save'|trans }}
                </button>

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
