{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.settings' | trans }}{% endblock %}

{% block body %}

    {{ include('admin/settings/partials/_nav_tabs.html.twig') }}

    <div class="card mb-3">
        <div class="card-body">

            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}

            <!-- Yandex.Maps JavaScript API key -->
            <div class="form-group">
                {{ form_label(form.ymaps_key) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>

                    {{ form_widget(form.ymaps_key) }}
                </div>
            </div>

            <!-- Map center -->
            <div class="form-group">
                {{ form_label(form.map_center) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                    </div>

                    {{ form_widget(form.map_center) }}
                </div>
            </div>

            <!-- Zoom level -->
            <div class="form-group">
                {{ form_label(form.map_zoom) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>

                    {{ form_widget(form.map_zoom) }}
                </div>
            </div>


            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save'|trans }}
                </button>

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
