{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.settings' | trans }}{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-edit text-danger"></i> {{ 'title.settings' | trans }}
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_header_settings') }}">
                <i class="fas fa-image text-danger"></i> {{ 'title.settings.header_settings' | trans }}
            </a>
        </li>
    </ul>

    <div class="card mb-3">
        <div class="card-body">

            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.meta_title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.meta_description) }}
            </div>

            <div class="form-group">
                {{ form_row(form.custom_code) }}
            </div>

            <div class="form-group">
                {{ form_row(form.custom_footer_text) }}
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.currency) }}

                    <div class="small edit-link">
                        <a class="ml-2" href="{{ path('admin_currency') }}">
                            {{ 'action.edit'|trans }} {{ 'currencies'|trans }}
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.items_per_page) }}
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.show_similar_properties) }}
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.fixed_top_navbar) }}
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.show_language_selector) }}
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    {{ form_row(form.anyone_can_register) }}
                </div>
            </div>
            <hr>


            <!-- Yandex.Maps JavaScript API key -->
            <div class="form-group">
                {{ form_label(form.ymaps_key) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>

                    {{ form_widget(form.ymaps_key) }}
                </div>
            </div>

            <!-- Map center -->
            <div class="form-group">
                {{ form_label(form.map_center) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                    </div>

                    {{ form_widget(form.map_center) }}
                </div>
            </div>

            <!-- Zoom level -->
            <div class="form-group">
                {{ form_label(form.map_zoom) }}
                <div class="input-group mb-2 mr-sm-2">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>

                    {{ form_widget(form.map_zoom) }}
                </div>
            </div>


            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save'|trans }}
                </button>

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
