{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.pages' | trans }}{% endblock %}

{% block body %}

    <h3>{{ 'title.pages' | trans }}
        <a href="{{ path('admin_page_new') }}" class="btn btn-light" title="{{ 'menu.add_new'|trans }}">
            <i class="fas fa-plus-square text-danger"></i>
        </a>
    </h3>

    <br>
    <div class="row">

        {% for page in pages %}

            <!-- Item -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% set language = page.locale|locale_name(page.locale)|u.title %}
                        <span class="float-right badge badge-info">{{ language }}</span>
                        <h4 class="card-title">
                            <a href="{{ path('page', { 'slug':  page.slug }) }}">{{ page.title }}</a>
                        </h4>
                        <p class="card-text">{{ page.description }}</p>

                        {{ include('admin/page/_action_form.html.twig', {page: page}, with_context = false) }}

                    </div>
                </div>
                <br>
            </div>
            <!-- / Item -->

        {% else %}
            <div class="col-sm-12">
                {{ 'no_items_found' | trans }}
            </div>
        {% endfor %}

    </div>

    {{ knp_pagination_render(pages) }}

{% endblock %}
