{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ 'title.add_menu_item' | trans }}{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_menu') }}">
                <i class="fas fa-bars text-danger"></i> {{ 'menu'|trans }}
            </a>
        </li>
        <li class="nav-item active">
            <span class="nav-link active">
                <i class="fas fa-plus-square text-danger"></i> {{ 'action.add_menu_item' | trans }}
            </span>
        </li>
    </ul>

    <div class="card mb-3">

        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.url) }}
            </div>

            <div class="form-group">
                {{ form_row(form.locale) }}
            </div>

            <div class="form-group mb-3 custom-control custom-switch">
                {{ form_widget(form.new_tab) }}
                {{ form_label(form.new_tab) }}
            </div>

            <div class="form-group mb-3 custom-control custom-switch">
                {{ form_widget(form.nofollow) }}
                {{ form_label(form.nofollow) }}
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary">
                    {{ 'action.save'|trans }}
                </button>

                {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}

            </div>

            {{ form_end(form) }}

        </div>
    </div><br>

{% endblock %}
